body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #030303f8;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header img.logo {
    width: 100px;
    height: auto;
    vertical-align: middle;
    margin-right: 1rem;
}

nav {
    margin-top: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007BFF;
}

main {
    flex: 1;
    padding: 2rem;
    margin-top: 80px; /* Adjust for fixed header */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 80px); /* Ensure main takes up full height minus header */
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Space between buttons */
}

.project-button {
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 15px;
    background-color: #060708;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

.project-button:hover {
    background-color: #0b0d0f;
}

footer {
    background-color: #030303f8;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    color: #ffffff;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        padding: 1rem;
        height: auto; /* Allow height to adjust on smaller screens */
    }

    .button-container {
        flex-direction: column;
        gap: 0.5rem;
    }

    .project-button {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
}
