* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0; 
}

header {
    position: relative;
    background-image: url('astro.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.top-navigation {
    position: absolute;
    top: 20px;
    left: 20px;
}

.top-navigation ul {
    list-style-type: none;
}

.top-navigation ul li {
    display: inline-block;
    margin-right: 20px;
}

.top-navigation ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease; 
}

.top-navigation ul li a:hover {
    color: #ffd700; 
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
}

.header-left {
    margin-bottom: 20px;
}

.left-image {
    width: 80%;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.header-text {
    max-width: 600px;
    margin: 20px auto; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.header-text h1 {
    font-size: 2.5rem; 
    margin-bottom: 10px;
}

.header-text p {
    font-size: 1.1rem; 
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    clear: both;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); 
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-container,
.social-media-container {
    margin-bottom: 40px; 
    text-align: center;
}

.subscribe-container input[type="email"],
.subscribe-container button {
    padding: 12px; 
    font-size: 16px;
    border: none;
    margin-right: 10px;
    width: auto;
    background-color: rgba(245, 243, 243, 0.3);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscribe-container button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.social-media-container ul {
    list-style-type: none;
    padding: 0;
}

.social-media-container ul li {
    display: inline-block;
    margin: 0 10px; 
}

.social-media-container ul li a img {
    width: 40px; 
    border-radius: 50%; 
    transition: transform 0.3s ease; 
}

.social-media-container ul li a img:hover {
    transform: scale(1.2); 
}

@media (min-width: 768px) {
    .header-content {
        flex-direction: row;
        text-align: left;
    }

    .header-text,
    .header-left {
        flex: 1;
        max-width: 50%;
    }

    .header-text {
        margin: 20px;
        padding: 30px; 
    }
}